<div class="container" *ngIf="tierView == true">
  <ion-row>
    <ion-col size="12">
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" routerLink="/home"></ion-icon>
        Select Your Tier
      </h3>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-list class="ion-list">
        <ion-item class="ion-item" (click)="tier('1')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 1</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('2')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 2</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('3')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 3</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('4')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 4</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('5')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 5</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('6')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 6</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('7')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 7</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('8')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 8</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('9')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 9</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('10')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 10</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('11')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 11</ion-label>
        </ion-item>
        <ion-item class="ion-item" (click)="tier('12')">
          <img src="../../../assets/dummy-logo.png" alt="">
          <ion-label class="ion-label">Tier 12</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</div>













<div class="container2" *ngIf="tierView == false">
  <ion-row>
    <ion-col size="12">
      <h3>
        <ion-icon name="arrow-back-circle-outline" class="back-icon" (click)="back()"></ion-icon>
        my team
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="search-bar">
        <form [formGroup]="search" (ngSubmit)="find()">
          <ion-item class="input-field">
            <ion-label class="label" position="floating">search</ion-label>
            <ion-input type="search" placeholder="Name" formControlName = "search"  ></ion-input>
          </ion-item>
          <ion-button type="submit" class="submit-btn">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button> 
        </form> 
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div class="card">
        <div [ngClass]="'card-header'">
          <div class="img"></div>
          <h3>Tier {{tierNo}}</h3>
        </div>
        <div class="body">
          <p>Team Size : {{tierData?.length}}</p>
          <p>Total Utility Cashback : {{totalVal}}</p>
          <p>Total Account Cashback : </p>
          <p>Total E-commerce Cashback : </p>
          <p>Total Ad Cashback: </p>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div  *ngFor="let r of tierData" [ngClass]="{'card':r.account === null || 'Basic' ,'Premium':r.account == 'Premium'}">
        <div  class="card-header">
          <div class="img"></div>
          <h3>{{r.name}}</h3>
        </div>
        <div class="body">
          <p>Utility Cashback : {{r.earning.utility}}</p>
          <p>Account Cashback : {{r.earning.demat}}</p>
          <p>E-commerce Cashback : {{r.earning.eComm}}</p>
          <p>Ad Cashback: {{r.earning.ad}}</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>